<div class="video-player">
    <img src="../../../src/assets/images/chapter3/hot_air_balloons-12bdc1a6.jpg" alt="Video" width="960" height="540">
    <div class="controls-container">
        <div class="controls">
            <div class="top-controls">
                <div class="volume-controls">
                    <button>
						            <img	alt="Low Volume"
                              src="../../../src/assets/images/chapter3/low_volume-ec16dcf3.svg">
				            </button>
                    <input type="range">
                    <button>
						             <img	alt="High	Volume"
								              src="../../../src/assets/images/chapter3/high_volume-3e66618d.svg">
				            </button>
                </div>
                <div class="playback-controls">
                    <button>
                      <img	alt="Rewind"	src="../../../src/assets/images/chapter3/rewind-24b89bf9.svg">
                    </button>
                    <button>
                      <img	alt="Play"	src="../../../src/assets/images/chapter3/play-770664db.svg">
                    </button>
                    <button>
                      <img	alt="Fast	Forward"
                          src="../../../src/assets/images/chapter3/fast_forward-5e854d81.svg">
                    </button>
                </div>
          
                <div class="size-controls">
                    <button>
                      <img	alt="Fullscreen"
                          src="../../../src/assets/images/chapter3/fullscreen-d4fb4216.svg">
                   </button>
                </div>
            </div>
            <div class="progress-controls">
                <span class="time-elapsed">00:00:00</span>
                <input type="range">
                <span class="time-remaining">01:14:26</span>
            </div>
        </div>
    </div>
</div>